**CSC 365 - Fall 2022 - Lab 1-1**

In [4]:
import pandas as pd
import numpy as np

**Name:** Ishaan Sathaye

**Cal Poly Email:** isathaye@calpoly.edu

This Jupyter notebook loads a simple CSV file (performance of students from two schools in Portugal in a Mathematics course - see https://www.kaggle.com/datasets/whenamancodes/alcohol-effects-on-study?resource=download)  and contains 10 questions about the data in the file.   You are provided with one cell per question into which you can place any Python code you want in order to produce output that contains the answer to the question.  

A valid answer to the question is formed out of the information available in the loaded CSV file. Sometimes this information will be contained in one or more rows of the CSV files directly. Sometimes you may need to perform certain computations with the data found in the CSV file in order to answer the question.

In [12]:
## loading the data

filename = "Maths.csv"

df = pd.read_csv(filename)   ## pandas data frame with the data

df['Id'] = df.index

data = np.array(df)          ## numPy array with the data

dl = [list(x) for x in data] ## List of lists with the data

columns = list(df.columns)   ## list of column names - in the order of columns in both the Pandas data frame and the NumPy array

The data is provided to you in three forms:

1. `pandas` data frame.  `pandas` is a Python package for dealing with tabular data that includes a lot of functionality that is similar to that of relational database which we will be studying in this course.  A data frame is a Python data structure for storing two-dimentional tabular data.  If you know how to work with `pandas` data frames - feel free to use `pandas` functionality.

2. `numPy` array. `numPy` is a Python package primarily used for dealing with multi-dimensional arrays of data. A CSV file can be stored as a two-dimensional `numPy` array in a natural way, and a 2-dimensional `numPy` array is essentially a Python list or Python lists. `numPy` provides a lot of functionality for working with arrays.

3. Python's list of lists. This is the most basic Python structure that does not rely on functionality from any specific Python package. Each row of the CSV file is one element of the list. The element itself is a list containing values of individual cells in the row.

Here is what the `pandas` data frame looks like:

In [13]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,Id
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,2
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,3
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,4,4,5,4,11,9,9,9,390
391,MS,M,17,U,LE3,T,3,1,services,services,...,4,5,3,4,2,3,14,16,16,391
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,3,3,3,3,3,10,8,7,392
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,1,3,4,5,0,11,12,10,393
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,3,3,5,5,8,9,9,394

Here is the `numPy` array:

In [29]:
data

array([['GP', 'F', 18, ..., 6, 6, 0],
       ['GP', 'F', 17, ..., 5, 6, 1],
       ['GP', 'F', 15, ..., 8, 10, 2],
       ...,
       ['MS', 'M', 21, ..., 8, 7, 392],
       ['MS', 'M', 18, ..., 12, 10, 393],
       ['MS', 'M', 19, ..., 9, 9, 394]], dtype=object)

And here is the Python list (we are displaying only the first four rows here):

In [30]:
dl[0:3]

[['GP',
  'F',
  18,
  'U',
  'GT3',
  'A',
  4,
  4,
  'at_home',
  'teacher',
  'course',
  'mother',
  2,
  2,
  0,
  'yes',
  'no',
  'no',
  'no',
  'yes',
  'yes',
  'no',
  'no',
  4,
  3,
  4,
  1,
  1,
  3,
  6,
  5,
  6,
  6,
  0],
 ['GP',
  'F',
  17,
  'U',
  'GT3',
  'T',
  1,
  1,
  'at_home',
  'other',
  'course',
  'father',
  1,
  2,
  0,
  'no',
  'yes',
  'no',
  'no',
  'no',
  'yes',
  'yes',
  'no',
  5,
  3,
  3,
  1,
  1,
  3,
  4,
  5,
  5,
  6,
  1],
 ['GP',
  'F',
  15,
  'U',
  'LE3',
  'T',
  1,
  1,
  'at_home',
  'other',
  'other',
  'mother',
  1,
  2,
  3,
  'yes',
  'no',
  'yes',
  'no',
  'yes',
  'yes',
  'yes',
  'no',
  4,
  3,
  2,
  2,
  3,
  3,
  10,
  7,
  8,
  10,
  2]]

Additionally, the variable `columns` contains the list of column names for the data:

In [31]:
columns

['school',
 'sex',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'studytime',
 'failures',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'famrel',
 'freetime',
 'goout',
 'Dalc',
 'Walc',
 'health',
 'absences',
 'G1',
 'G2',
 'G3',
 'Id']

**Please read the  description of the columns before proceeding with the rest of the lab assignment**: https://www.kaggle.com/datasets/whenamancodes/alcohol-effects-on-study?resource=download

To this list, we added one more column, `"Id"` to represent the unique identifier of each student. This is the last column in the data frame (and thus, also the last value in each row of the array and the list).

To answer the questions below you can use any of the data representations (data frame, array, list) provided to you.  Your output should be presented in a readable form that makes it clear what you are reporting (if you are working with lists, please engage in come pretty printing. data frames can be presented as-is. for arrays - look at what the output looks like, and if it is messy, pretty print as well).

**NOTE:** All questions MUST be answered **in isolation**. That is, you cannot reuse any variables computed when answering one question to answer another question. Instead - **you can reuse the code** (basically, I should be able to copy a full cell answering a question into an empty notebook and have it produce correct result).

**Question 1:**
Report the final (G3) grades of all students who are in a romantic relationship, attended a nursery school, and reported having a lot (4 or above) of free time. (your output shall have the index of the row, and the grade)

In [32]:
### Your code goes here

**Question 2:** Find the average final (G3) grade for 15-year old female students from the _Gabriel Pereira_ school.  Report just the average grade value.

In [ ]:
### Your code goes here

**Question 3:** Find the highest number of absences that a _Mousinho da Silveira_ student had in the math class. Report just the number.

In [34]:
### Your code goes here

**Question 4** Find all the students from the _Mousinho da Silveira_ school who had the highest number of absences in the math class. For each student report their ID, their final grade (G3) in the class, their sex and their age.

In [35]:
### Your code goes here

**Question 5:** Compare the average performance of female students who are engaged in extra curricular activities at _Gabriel Pereira_ and _Mousinho da Silveira_ schools in the math class (the G3 score). Report the full name (_Gabriel Pereira_ or _Mousinho da Silveira_) of the school with the higher average performance.

In [36]:
### Your code goes here

**Question 6:** Break the students into two categories by whether or not they are in a romantic relationship. For each group report (a) the number of students in the group, (b) the average math score (G3). Report the groups in descending order by the average score. (your output should contain two rows, and three values in each row: "yes" or "no" for relationship status, the number of students, and the average score).

In [37]:
### Your code goes here

**Question 7:**  Find how many students in each school who previously failed the math class at least once (look at the "failures" column) received the final grade (G3) of 15 or higher this time. Your output shall contain two rows - one for each school. Each row shall contain the full name of the school, and the number of students that you computed.

In [ ]:
### Your code goes here

**Question 8:** For each school, find out how many students of each age have a high alcohol consumption. We consider alcohol
consumption to be high either the weekend consumption or the weekday consumption is 4 or above. Your output shall have a school - age combination in each row, sorted by school name, and in ascending order of age within each school (i.e., report the number of 15-year olds with high alcohol consumption in Gabriel Pereira HS first, then 16-year olds in Gabriel Pereira, etc.)

In [38]:
### Your code goes here

**Question 9:** Find whether the **percentage** of students with high consumption of alcohol (>=4 either on weekend or weekday) is higher among the students whose parents live together or separately (the "Pstatus" column).  Report the status with the higher percentage and the percentage itself.

In [39]:
### Your code goes here

**Question 10:** List the average alcohol consumption level (average between their weekend and weekday consumption) for each student with the highest G3 score in the class. Your output shall contain two values in each row: the Id of the student and their average alcohol consumption level.

In [40]:
### Your code goes here

**Congratulations!**

You are done!

To submit your work, open the terminal window in your Jupyter Labs environment, navigate to the directory where this notebook resides in, and type the following command:

                   $ handin dekhtyar 365-lab01-1 <filename>
                   
where < filename > is the name under which you stored this notebook.